name: Elixir tests
on:
  push:
    branches-ignore:
    - mistress

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 23.1.2
          elixir-version: 1.11.4
      - run: env MIX_ENV=test mix deps.get
      - run: env MIX_ENV=test mix compile --warnings-as-errors
      - run: |
          epmd -daemon
          mkdir -pv priv/test/plugin/
          wget https://github.com/queer/singyeong-test-plugin/releases/download/0.1.0/singyeong_plugin_test.zip -O priv/test/plugin/singyeong_plugin_test.zip
          env MIX_ENV=test mix test
